/* 
    Created on : Jul 28, 2015, 10:36:11 AM
    Author     : Michael Dahlke <mdahlke@dealersocket.com>
*/

.flyin {
	position: relative;
	overflow: hidden;
}

.flyin .flyin-item {
	position: relative;
}