<section class="full-width">
	<div class="container">
		<div class="row flyin">
			<div class="flyin-item" data-flyin-from="left">
				<span>Fly 1</span>
			</div>
			<div class="flyin-item" data-flyin-from="right">
				<span>Fly 2</span>
			</div>
			<div class="flyin-item" data-flyin-from="left">
				<span>Fly 3</span>
			</div>
		</div>
	</div>
</div>
